<div class="Container">
    <div class="card-header">
        
    </div>
    <div class="card-body">
        <Form action="">
            
            <div class="form-group">
                <label for="">Nombres</label>
                <input type="text" class="form-control"  name="nombres">
                
            </div>
            <div class="form-group">
                <label for="">Apellidos</label>
                <input type="text" class="form-control" name="apellidos">
            </div>
          <br>

            <button class="btn btn-success">
                GUARDAR
            </button>

        </Form>
    </div>